<!--
Footer.ejs
Nicholas Metcalf
Family Node Page
Common footer for HTML
 -->
</main> <!-- close main content area -->

<footer class="alert alert-info">
    <div>&copy; 2016 | Family Node Site | Nick Metcalf</div>
</footer>

</body>
</html>