<!--
Header.ejs
Nicholas Metcalf
Family Node Page
Common header for HTML
 -->
<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>
<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
<link re; = "stylesheet" href="stylesheets/bootstrap.min.css" />
<body>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/Nick">Nick</a></li>
        <li><a href="/Lisa">Lisa</a></li>
        <li><a href="/Donald">Donald</a></li>
        <li><a href="/Tyler">Tyler</a></li>
        <li><a href="/Shannon">Shannon</a></li>
    </ul>
</nav>
