<!--
Nick.ejs
Nicholas Metcalf
Family Node Page
Template for family member page
 -->
<%include partials/header.ejs%>

<div class="container">
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p><%= message %></p>
    </div>
</div>

<%include partials/footer.ejs%>